{{ 'card-product-atb-modal.css' | asset_url | stylesheet_tag }}
<div class="product-atb-modal" data-id="productAtbModal" style="--product-ATBModal: 0px;" bis_skin_checked="1">
  <div class="modal-overlay" data-id="productAtbModalOverlay" bis_skin_checked="1"></div>
  <div class="modal-atb" bis_skin_checked="1">
    <div class="atb-close-bar-div" data-id="modalBartoClose" bis_skin_checked="1">
      <span class="atb-close-bar"></span>
    </div>

    <div class="product-atb-modal-header" bis_skin_checked="1">
      <div class="heading-container" bis_skin_checked="1">
        <h3 class="h3 head">Colours</h3>
        <h5 class="h5 color-count" data-id="colourCount">(1 Colour)</h5>
      </div>
      <button data-id="closeATBModal" class="modal-close-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M13.3 0.710224C13.2075 0.61752 13.0976 0.543973 12.9766 0.493791C12.8556 0.44361 12.7259 0.417779 12.595 0.417779C12.464 0.417779 12.3343 0.44361 12.2134 0.493791C12.0924 0.543973 11.9825 0.61752 11.89 0.710224L6.99998 5.59022L2.10998 0.700223C2.0174 0.607642 1.90749 0.534202 1.78652 0.484097C1.66556 0.433992 1.53591 0.408203 1.40498 0.408203C1.27405 0.408203 1.1444 0.433992 1.02344 0.484097C0.902472 0.534202 0.792561 0.607642 0.699979 0.700223C0.607397 0.792805 0.533957 0.902716 0.483852 1.02368C0.433747 1.14464 0.407959 1.27429 0.407959 1.40522C0.407959 1.53615 0.433747 1.6658 0.483852 1.78677C0.533957 1.90773 0.607397 2.01764 0.699979 2.11022L5.58998 7.00022L0.699979 11.8902C0.607397 11.9828 0.533957 12.0927 0.483852 12.2137C0.433747 12.3346 0.407959 12.4643 0.407959 12.5952C0.407959 12.7262 0.433747 12.8558 0.483852 12.9768C0.533957 13.0977 0.607397 13.2076 0.699979 13.3002C0.792561 13.3928 0.902472 13.4662 1.02344 13.5163C1.1444 13.5665 1.27405 13.5922 1.40498 13.5922C1.53591 13.5922 1.66556 13.5665 1.78652 13.5163C1.90749 13.4662 2.0174 13.3928 2.10998 13.3002L6.99998 8.41022L11.89 13.3002C11.9826 13.3928 12.0925 13.4662 12.2134 13.5163C12.3344 13.5665 12.464 13.5922 12.595 13.5922C12.7259 13.5922 12.8556 13.5665 12.9765 13.5163C13.0975 13.4662 13.2074 13.3928 13.3 13.3002C13.3926 13.2076 13.466 13.0977 13.5161 12.9768C13.5662 12.8558 13.592 12.7262 13.592 12.5952C13.592 12.4643 13.5662 12.3346 13.5161 12.2137C13.466 12.0927 13.3926 11.9828 13.3 11.8902L8.40998 7.00022L13.3 2.11022C13.68 1.73022 13.68 1.09022 13.3 0.710224Z" fill="black"></path>
        </svg>
      </button>
    </div>

    <div class="product-variant-swiper-container" bis_skin_checked="1">
      <div data-id="swiperColorVariants" class="swiper-color-variants" bis_skin_checked="1">
        <div
          class="swiper swiper-virtual swiper-initialized swiper-horizontal swiper-watch-progress"
          bis_skin_checked="1"
        >
          <div class="swiper-wrapper" id="swiper-wrapper-eed978317268510a3" aria-live="polite" bis_skin_checked="1">
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-active"
              data-swiper-slide-index="0"
              style="left: 0px; width: 122px; margin-right: 10px;"
              role="group"
              aria-label="1 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 1</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-next"
              data-swiper-slide-index="1"
              style="left: 0px; width: 122px; margin-right: 10px;"
              role="group"
              aria-label="2 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 2</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible"
              data-swiper-slide-index="2"
              style="left: 0px; width: 122px; margin-right: 10px;"
              role="group"
              aria-label="3 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 3</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible"
              data-swiper-slide-index="3"
              style="left: 0px; width: 122px; margin-right: 10px;"
              role="group"
              aria-label="4 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 4</p>
            </div>
          </div>

          <!-- Add Arrows -->
          <div class="swiper-buttons" bis_skin_checked="1">
            <div
              class="swiper-prev swiper-button-disabled"
              tabindex="-1"
              role="button"
              aria-label="Previous slide"
              aria-controls="swiper-wrapper-eed978317268510a3"
              aria-disabled="true"
              bis_skin_checked="1"
            >
              <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                <path d="M3.77363 0.1868C4.05349 -0.065697 4.49822 -0.0615372 4.77361 0.195133C5.04811 0.452621 5.05258 0.868442 4.78252 1.13011L1.72105 3.99171L4.78161 6.85331H4.7825C4.91976 6.97748 4.99819 7.14831 4.99997 7.32748C5.00175 7.50581 4.92599 7.6783 4.79142 7.80498C4.65594 7.93081 4.47147 8.00164 4.28072 7.99997C4.0891 7.9983 3.9064 7.92497 3.77359 7.79664L0.208562 4.46337C-0.069521 4.20253 -0.069521 3.78089 0.208562 3.52005L3.77363 0.1868Z"></path>
              </svg>
            </div>
            <div
              class="swiper-next"
              tabindex="0"
              role="button"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-eed978317268510a3"
              aria-disabled="false"
              bis_skin_checked="1"
            >
              <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                <path d="M1.49827 7.3385C1.24639 7.55944 0.846132 7.5558 0.59828 7.33121C0.351229 7.10591 0.347205 6.74207 0.590259 6.51311L3.34558 4.00921L0.59108 1.5053H0.590278C0.46675 1.39666 0.396163 1.24719 0.394559 1.09041C0.392955 0.934369 0.461137 0.783441 0.582257 0.6726C0.704181 0.562499 0.870213 0.500519 1.04188 0.501978C1.21434 0.503437 1.37877 0.567603 1.4983 0.679892L4.70682 3.5965C4.9571 3.82474 4.9571 4.19368 4.70682 4.42191L1.49827 7.3385Z"></path>
              </svg>
            </div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
      </div>
      <div data-id="swiperSizeVariants" class="swiper-size-variants" bis_skin_checked="1">
        <div class="seprator" bis_skin_checked="1"></div>

        <div class="size-header-container" bis_skin_checked="1">
          <h2 class="size-heading">Choose Size</h2>

          <p data-id="sizeError" class="size-error">Please Select a Size</p>
        </div>

        <div
          class="swiper swiper-virtual swiper-initialized swiper-horizontal swiper-watch-progress"
          bis_skin_checked="1"
        >
          <div class="swiper-wrapper" id="swiper-wrapper-bf917fc22a8764110" aria-live="polite" bis_skin_checked="1">
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-active"
              data-swiper-slide-index="0"
              style="left: 0px; width: 65.3333px; margin-right: 12px;"
              role="group"
              aria-label="1 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 1</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-next"
              data-swiper-slide-index="1"
              style="left: 0px; width: 65.3333px; margin-right: 12px;"
              role="group"
              aria-label="2 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 2</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible"
              data-swiper-slide-index="2"
              style="left: 0px; width: 65.3333px; margin-right: 12px;"
              role="group"
              aria-label="3 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 3</p>
            </div>
            <div
              class="swiper-slide swiper-slide-visible"
              data-swiper-slide-index="3"
              style="left: 0px; width: 65.3333px; margin-right: 12px;"
              role="group"
              aria-label="4 / 4"
              bis_skin_checked="1"
            >
              <p class="slideEvent" onclick="myFunction(event)">Main Slide 4</p>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-buttons" bis_skin_checked="1">
            <div
              class="swiper-prev swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Previous slide"
              aria-controls="swiper-wrapper-bf917fc22a8764110"
              aria-disabled="true"
              bis_skin_checked="1"
            >
              <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                <path d="M3.77363 0.1868C4.05349 -0.065697 4.49822 -0.0615372 4.77361 0.195133C5.04811 0.452621 5.05258 0.868442 4.78252 1.13011L1.72105 3.99171L4.78161 6.85331H4.7825C4.91976 6.97748 4.99819 7.14831 4.99997 7.32748C5.00175 7.50581 4.92599 7.6783 4.79142 7.80498C4.65594 7.93081 4.47147 8.00164 4.28072 7.99997C4.0891 7.9983 3.9064 7.92497 3.77359 7.79664L0.208562 4.46337C-0.069521 4.20253 -0.069521 3.78089 0.208562 3.52005L3.77363 0.1868Z"></path>
              </svg>
            </div>
            <div
              class="swiper-next swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-bf917fc22a8764110"
              aria-disabled="true"
              bis_skin_checked="1"
            >
              <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                <path d="M1.49827 7.3385C1.24639 7.55944 0.846132 7.5558 0.59828 7.33121C0.351229 7.10591 0.347205 6.74207 0.590259 6.51311L3.34558 4.00921L0.59108 1.5053H0.590278C0.46675 1.39666 0.396163 1.24719 0.394559 1.09041C0.392955 0.934369 0.461137 0.783441 0.582257 0.6726C0.704181 0.562499 0.870213 0.500519 1.04188 0.501978C1.21434 0.503437 1.37877 0.567603 1.4983 0.679892L4.70682 3.5965C4.9571 3.82474 4.9571 4.19368 4.70682 4.42191L1.49827 7.3385Z"></path>
              </svg>
            </div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
      </div>
    </div>

    <div
      class="action-buttons-container"
      data-id="actionButtonsContainer"
      product-id=""
      variant-id=""
      quantity=""
      stock=""
      key=""
      bis_skin_checked="1"
    >
      <a data-id="viewProductLink" href="#" class="view-product no-underline">
        <div class="eye-icon" bis_skin_checked="1">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="16" viewBox="0 0 23 16" fill="none">
            <path d="M11.4951 12.4195C13.7976 12.4195 15.6698 10.4615 15.6698 8.05496C15.6698 5.64842 13.7976 3.69043 11.4951 3.69043C9.19254 3.69043 7.32031 5.64776 7.32031 8.05496C7.32031 10.4622 9.19254 12.4195 11.4951 12.4195ZM11.4951 5.22362C12.988 5.22362 14.2032 6.49387 14.2032 8.05487C14.2032 9.6157 12.988 10.8861 11.4951 10.8861C10.0021 10.8861 8.78692 9.6157 8.78692 8.05487C8.78692 6.49404 10.0021 5.22362 11.4951 5.22362Z" fill="#221F20"></path>
            <path d="M11.4961 15.2046C17.4635 15.2046 22.1516 8.78941 22.3482 8.51561C22.5454 8.24267 22.5454 7.8662 22.3482 7.59341C22.1516 7.32047 17.4635 0.905273 11.4961 0.905273C5.52867 0.905273 0.840548 7.32049 0.644022 7.59341C0.446784 7.86636 0.446784 8.24282 0.644022 8.51561C0.840607 8.78941 5.52867 15.2046 11.4961 15.2046ZM11.4961 2.43859C15.8653 2.43859 19.6592 6.63661 20.8158 8.05475C19.6593 9.47373 15.8653 13.6709 11.4961 13.6709C7.12685 13.6709 3.33295 9.4736 2.17642 8.05475C3.33286 6.63577 7.12685 2.43859 11.4961 2.43859Z" fill="#221F20"></path>
          </svg>
        </div>
        <p class="title">View Product</p>
      </a>

      <div data-id="ATBQtyContainer" class="atb-qty-container add-state" bis_skin_checked="1">
        <div class="quantity-input-container" bis_skin_checked="1">
          <plp-quantity-input class="quantity">
            <button data-id="qtyInput" class="quantity__button no-js-hidden disabled" name="minus" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 15 20" fill="none">
                <path d="M1 10H13.5" stroke="black" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </button>

            <label for="atb-qty-input" class="hidden"></label>
            <input
              class="quantity__input"
              data-id="atbQtyInput"
              id="atb-qty-input"
              data-cart-quantity="0"
              data-min="1"
              min="1"
              step="1"
              max="10"
              type="number"
              name="quantity"
              request-type="add"
              value="1"
              form="atb-product-form"
              readonly=""
            >

            <button data-id="qtyInput" class="quantity__button no-js-hidden" name="plus" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M1 8H15" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                <path d="M8 15V1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </button>
          </plp-quantity-input>
          <button data-id="deleteButton" class="delete-button no-js-hidden" name="delete" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none">
              <path d="M4.61565 2.2772H4.46387C4.54735 2.2772 4.61565 2.2089 4.61565 2.12542V2.2772H10.3835V2.12542C10.3835 2.2089 10.4518 2.2772 10.5353 2.2772H10.3835V3.64328H11.7496V2.12542C11.7496 1.45566 11.2051 0.911133 10.5353 0.911133H4.46387C3.79411 0.911133 3.24958 1.45566 3.24958 2.12542V3.64328H4.61565V2.2772ZM14.1782 3.64328H0.82101C0.485184 3.64328 0.213867 3.91459 0.213867 4.25042V4.85756C0.213867 4.94104 0.282171 5.00935 0.365653 5.00935H1.51164L1.98027 14.9323C2.01063 15.5793 2.54568 16.0897 3.19266 16.0897H11.8065C12.4554 16.0897 12.9885 15.5812 13.0189 14.9323L13.4875 5.00935H14.6335C14.717 5.00935 14.7853 4.94104 14.7853 4.85756V4.25042C14.7853 3.91459 14.514 3.64328 14.1782 3.64328ZM11.6604 14.7236H3.33876L2.8796 5.00935H12.1196L11.6604 14.7236Z" fill="black"></path>
            </svg>
          </button>
        </div>

        <button data-id="updateButton" class="atb-button atc-button-update">
          <p class="title added">Added</p>
          <div class="atb-icon-container" bis_skin_checked="1">
            <svg
              id="atc-icon-bag"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="white"
            >
              <path d="M7.6922 1C9.75925 1 11.4505 2.66901 11.4505 4.70462V6.2312L14.3736 6.23106C14.7286 6.23106 15 6.49562 15 6.8417V16.4084C15 18.0978 13.6011 19.4615 11.8681 19.4615H3.51651C1.78347 19.4615 0.38461 18.0978 0.38461 16.4084V6.8417C0.38461 6.49562 0.655993 6.23106 1.01099 6.23106H3.934V4.70448C3.934 2.66909 5.62515 1 7.6922 1ZM10.1977 4.70427C10.1977 3.34057 9.07023 2.22099 7.6922 2.22099C6.31416 2.22099 5.18668 3.34043 5.18668 4.70427V6.23085H10.1977V4.70427ZM1.63708 7.47256V16.4286C1.63708 17.4464 2.47221 18.2605 3.51622 18.2605L11.8682 18.2604C12.9122 18.2604 13.7473 17.4462 13.7473 16.4285V7.47243H11.4505V8.53081C11.4505 8.87688 11.1792 9.14144 10.8242 9.14144C10.4692 9.14144 10.1978 8.87688 10.1978 8.53081V7.47243H5.18675V8.53081C5.18675 8.87688 4.91537 9.14144 4.56038 9.14144C4.20538 9.14144 3.934 8.87688 3.934 8.53081V7.47243L1.63708 7.47256Z"></path>
            </svg>
            <svg
              id="atc-icon-rectangle"
              width="5"
              height="5"
              viewBox="0 0 5 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="5" height="5" rx="1" fill="white"></rect>
            </svg>
          </div>
          <p class="title atb">Update Bag</p>
        </button>

        <button data-id="ATBButton" class="atb-button atc-button-add">
          <p class="title added">Added</p>
          <div class="atb-icon-container" bis_skin_checked="1">
            <svg
              id="atc-icon-bag"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="white"
            >
              <path d="M7.6922 1C9.75925 1 11.4505 2.66901 11.4505 4.70462V6.2312L14.3736 6.23106C14.7286 6.23106 15 6.49562 15 6.8417V16.4084C15 18.0978 13.6011 19.4615 11.8681 19.4615H3.51651C1.78347 19.4615 0.38461 18.0978 0.38461 16.4084V6.8417C0.38461 6.49562 0.655993 6.23106 1.01099 6.23106H3.934V4.70448C3.934 2.66909 5.62515 1 7.6922 1ZM10.1977 4.70427C10.1977 3.34057 9.07023 2.22099 7.6922 2.22099C6.31416 2.22099 5.18668 3.34043 5.18668 4.70427V6.23085H10.1977V4.70427ZM1.63708 7.47256V16.4286C1.63708 17.4464 2.47221 18.2605 3.51622 18.2605L11.8682 18.2604C12.9122 18.2604 13.7473 17.4462 13.7473 16.4285V7.47243H11.4505V8.53081C11.4505 8.87688 11.1792 9.14144 10.8242 9.14144C10.4692 9.14144 10.1978 8.87688 10.1978 8.53081V7.47243H5.18675V8.53081C5.18675 8.87688 4.91537 9.14144 4.56038 9.14144C4.20538 9.14144 3.934 8.87688 3.934 8.53081V7.47243L1.63708 7.47256Z"></path>
            </svg>
            <svg
              id="atc-icon-rectangle"
              width="5"
              height="5"
              viewBox="0 0 5 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="5" height="5" rx="1" fill="white"></rect>
            </svg>
          </div>
          <p class="title atb">Add to Bag</p>
        </button>

        <button data-id="addedButton" class="atb-button atc-button-added disabled" disabled="">
          <p class="title added">Added</p>
        </button>

        <button data-id="soldoutButton" class="atb-button atc-button-sold-out disabled" disabled="">
          <p class="title added">Sold Out</p>
        </button>

        <button data-id="soldoutButton" class="atb-button atc-button-not-serviceable disabled" disabled="">
          <p class="title added">Pincode Not Servicable</p>
        </button>
      </div>
    </div>

    <div data-id="sizeToolTip" class="size-tool-tip-container" bis_skin_checked="1">
      <div data-id="size-1" class="size-container" bis_skin_checked="1">
        <div class="title" bis_skin_checked="1"></div>
        <div class="size" bis_skin_checked="1"></div>
      </div>
      <div data-id="size-2" class="size-container" bis_skin_checked="1">
        <div class="title" bis_skin_checked="1"></div>
        <div class="size" bis_skin_checked="1"></div>
      </div>
    </div>
  </div>
</div>
{% render 'product-model-js' %}
