<div class="scrollUpBtn" data-id="page-scroll" bis_skin_checked="1">
  <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="Polygon 3" d="M9.31548 1.43063C9.4146 1.3222 9.5854 1.3222 9.68452 1.43063L10.2381 0.924596L9.68452 1.43063L15.6428 7.94851C15.7894 8.10894 15.6756 8.36719 15.4582 8.36719H3.54176C3.32439 8.36719 3.21058 8.10894 3.35724 7.94851L9.31548 1.43063Z" stroke="#48667C" stroke-width="1.5"></path>
    <line id="Line 41" x1="9.75" y1="8.86719" x2="9.75" y2="19.3672" stroke="#48667C" stroke-width="1.5" stroke-linecap="round"></line>
  </svg>
</div>
<style>
  .scrollUpBtn {
    cursor: pointer;
    z-index: 5;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);

    position: fixed;
    right: 26px;
    bottom: 55px;

    opacity: 0;
    transform: scale(0.3) translateY(250%);
    transition: opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  }
  .scrollUpBtn.active {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
  @media only screen (min-width: 768px) {
    .scrollUpBtn {
      display: none;
    }
  }
</style>
<script>
  let mybutton = document.querySelector(".scrollUpBtn");

  if (window.innerWidth >= 768) {
    window.addEventListener('scroll', () => {
      if (window.scrollY > 500) {
        mybutton.classList.add("active");
      } else {
        mybutton.classList.remove("active");
      }
    }, { passive: true })
    mybutton.addEventListener('click', () => {
      // document.body.scrollTop = 0;
      // document.documentElement.scrollTop = 0;
      window.scrollTo({top: 0, behavior: 'smooth'});
    })
  }
</script>
